*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial,sans-serif;
    background-color: #f6f6f6;
}
body{
    background-color: rgb(141, 145, 146); /* color sólido */
}
body{
    margin:0;
    padding-top:70px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #856c1d;
}


/* Estilo solo para el logo */
.encabezado {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    cursor: pointer;
}
.encabezado img {
    display: block;
    width: 120px;
    height: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #000;
    position: relative;
    z-index: 2;
}
h2{ 
    text-align: center;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
}
/* HERO VIDEO */
.hero{
    position: relative;
    height: 90vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    color: rgb(216, 11, 11);
}

.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* TEXTO */
.hero-content{
    max-width: 500px;
}

.hero h1{
    font-size: 40px;
    margin: 10px 0;
}

.btn{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: rgb(216, 10, 10);
    color: black;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

/* PRECIO */
.price{
    font-size: 30px;
    font-weight: bold;
}
/* HERO */
.hero{
    position: relative;
    height: 90vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    color: white;
}

.bg-video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* TEXTO */
.hero-content{
    max-width: 500px;
}

.hero h1{
    font-size: 40px;
}

/* BOTON */
.btn{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: white;
    color: black;
    border-radius: 25px;
    text-decoration: none;
}

/* PRECIO */
.price{
    font-size: 30px;
    font-weight: bold;
}

/* ANIMACION */
.fade{
    opacity: 0;
    transform: translateY(30px);
    animation: aparecer 1.0s ease forwards;
}

@keyframes aparecer{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* SLIDER */
.slider{
    display: flex;
    overflow: hidden;
    height: 400px;
}

.slider img{
    width: 400%;
    display: none;
}

.slider img.active{
    display: block;
}
/* SECCION AUTOS */
.autos{
    padding: 40px;
    background: #f5f5f5;
    text-align: center;
}

.autos h2{
    margin-bottom: 30px;
}

/* GRID */
.grid-autos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* CARD AUTO */
.auto img{
    width: 100%;
    transition: transform 0.3s;
}

.auto img:hover{
    transform: scale(1.05);
}

.auto p{
    margin-top: 10px;
    font-weight: bold;
}
/* BOTON */
.miguel-btm{
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
}

/* MENU OCULTO */
.carros-menu{
    display: flex;
    background: #222;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 10px;
}

/* CUANDO ESTA ACTIVO */
.carros-menu.active{
    display: block;
}

/* LINKS */
.carros-menu ul{
    list-style: none;
    padding: 0;
}

.carros-menu li{
    margin: 10px 0;
}

.carros-menu a{
    color: white;
    text-decoration: none;
}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 30px;
    position:fixed;
    top:0;
    width:100%;
    background:rgba(0,0,0,0.6);
    backdrop-filter: blur(8px);
    z-index:1000;
}

.logo img{
    height:40px;
}

.carros-menu ul{
    display:flex;
    list-style:none;
    gap:25px;
}

.carros-menu ul li a{
    color:white;
    text-decoration:none;
    font-size:14px;
    transition:0.3s;
}

.carros-menu ul li a:hover{
    color:red;
}

.hamburger{
    display:flex;
    font-size:28px;
    color:white;
    cursor:pointer;
}

/* RESPONSIVE */
@media(max-width:768px){
    .carros-menu{
        position:absolute;
        top:60px;
        right:0;
        background:black;
        width:200px;
        display:none;
        flex-direction:column;
    }

    .carros-menu ul{
        flex-direction:column;
        padding:20px;
    }

    .carros-menu.active{
        display:flex;
    }

    .hamburger{
        display:block;
    }
}
/*css para acceder*/
.registro {
  text-align:center;
  padding: 150px;
  background-image: url("registro.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: Aparicion 0.8s ease-out forwards; /*animacion para aperecer NO BORRAR*/
}


    .registro h2 {
  font-weight: 600; /* más grueso */
  letter-spacing: 2px; /* espacio entre letras */
  color: #798d06;

}

.registro p {
  font-weight: 300;
  color: #798d06;
  
}    

.cards {
  display: flex;
  justify-content: center;
  gap: 200px;
  flex-wrap: wrap;
}
.carda img {
  width: 110%;      /* ocupa todo el ancho de la card */
  height: 180px;    /* altura fija */
  object-fit: cover; /* recorta sin deformar */
  border-radius: 20px;
  margin-bottom: 25px;
}
.carda {
  background-color: rgb(176, 184, 207);
  width: 400%;
  max-width: 420px; /* tamaño por defecto en pantallas grandes */
  text-decoration: none;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align:center
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

/* Layout general */
body{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}



/* CONTENEDOR LOGIN */
.logins{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
  background-image: url("registro.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

/* CAJA */
.login{
    width:90%;
    max-width:350px;
    padding:30px;
    border-radius:15px;

    background: rgba(28, 121, 175, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    color:white;
    text-align:center;
    box-shadow:0 0 30px rgba(0,0,0,0.2);
}

/* INPUTS */
input{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:none;
    border-bottom:2px solid white;
    background:transparent;
    color:white;
}

input:focus{
    outline:none;
    border-bottom:2px solid #00c3ff;
}

/* DATE */
input[type="date"]{
    border:2px solid white;
    border-radius:20px;
}

/* BOTONES */
button{
    width:100%;
    padding:10px;
    margin-top:10px;
    border:none;
    border-radius:10px;
    background:#00aaff;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
    background:#0088cc;
}

/* MENSAJE */
#mensaje{
    margin-top:10px;
    color:lightgreen;
    display:none;
}
.carrusel {
    width: 100%;
    text-align: center;
}

.principal img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.miniaturas {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.miniaturas img {
    width: 150px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 5px;
}

.miniaturas img:hover {
    opacity: 1;
    transform: scale(1.05);
}